@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* Ur Life */

.ur_life {
  background: url('./assets/img/bg-image.jpg') no-repeat center center / cover;
  height: 788px;
}

.ur_life_navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  padding: 15px 47px;
  border-style: none;
  background: #00afdb;
  color: #ffffff;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  text-decoration: underline;
}

.container h1 {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 75px;
  margin-top: 155px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.container ul {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}

#menu {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.container p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  margin-top: 20px;
}

.container .ur_life_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.ur_life_navbar img {
  margin-top: 47px;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.container .life_navbar_text {
  margin-top: 60px;
  padding: 0 85px 0;
  font-size: 14px;
  opacity: 0.8;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container .life_navbar_text:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

.s_icons {
  margin: 0 15px;
  width: 20px;
  cursor: pointer;
}

.container .social_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 183px;
}

/* Idea */

.idea .container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.idea_content h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.idea_content p {
  font-size: 14px;
  color: #4e4e4e;
  width: 407px;
  height: 80px;
  margin-top: 20px;
  margin-right: 248px;
  margin-bottom: 20px;
  text-align: left;
}

.container .idea_img {
  margin-bottom: 140px;
}

/* Community */

.community {
  background: #f5f6f7;
  height: 504px;
  overflow-x: hidden;
}
.community_content {
  display: flex;
  flex-direction: row;
}

.community_part {
  margin-right: 139px;
}

.community_part img {
  margin-left: 396px;
  margin-top: 155px;
}

.community_part h4 {
  margin-left: 338px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.community_part p {
  margin-left: 269px;
  margin-top: 10px;
  width: 298px;
  height: 80px;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #4e4e4e;
}

.community_pagination {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.community_navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 500px;
}

.community_navbar a {
  margin: 15px;
  cursor: pointer;
  text-decoration: none;
}

.community_images {
  display: flex;
}

.community_images img {
  width: 350px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Code */

.code .container {
  display: flex;
}

.code_content h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin: 280px 139px 0;
}

.code_content p {
  font-size: 14px;
  color: #4e4e4e;
  width: 407px;
  height: 80px;
  margin: 20px 139px 20px;
  text-align: left;
}

.code_content p span {
  font-weight: bold;
}

.code_button {
  margin-left: 139px;
}

.code_img {
  margin-left: 269px;
  margin-top: 120px;
  margin-bottom: 140px;
}

/* Newsletter */

.newsletter {
  display: flex;
  background: url('./assets/img/pexels-christina-morillo-1181675\ 1.jpg')
    no-repeat center center / cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 598px;
}

.newsletter_content h3 {
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  margin-left: 20px;
}

.newsletter_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  padding-left: 24px;
  padding-top: 14px;
  outline: hidden;
  border: none;
}

::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  color: #373737;
  padding-top: 14px;
}

.newsletter_input .submit_btn {
  width: 66px;
  height: 46px;
  background: url('./assets/img/btn-submit.svg') no-repeat center center / cover;
  box-sizing: border-box;
  outline: hidden;
  border: none;
  cursor: pointer;
}

.newsletter_content input {
  width: 340px;
  height: 46px;
  padding-left: 24px;
}

/* App */

.app {
  height: 468px;
}

.app .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app_content h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin-top: 120px;
}

.app_content p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
  width: 483px;
  height: 40px;
}

.app_version {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app_version img {
  margin: 30px;
  cursor: pointer;
}

/* Footer */

footer .container {
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 150px;
}

footer .container img {
  margin-top: 20px;
}

.footer_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_text .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.98;
  padding: 20px;
}

.footer_text .text:hover {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

.footer_text .dash {
  width: 8px;
  color: #4e4e4e;
}

footer .container .author {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #818181;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Responsive */

@media (max-width: 1080px) {
  .idea .container {
    display: flex;
    flex-direction: column;
  }

  .idea_content p {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
  }

  .idea_content .idea_button {
    margin-bottom: 20px;
  }

  .idea .container .idea_img {
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: 836px) {
  .container .life_navbar_text {
    display: block;
  }
  .ur_life_navbar .menu_box img {
    padding-left: 10px;
    margin-top: 47px;
    cursor: pointer;
  }

  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
  .menu__box {
    display: block;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: rgba(56, 55, 55, 0.802);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .menu__box img {
    display: none;
  }
  /* элементы меню */
  .life_navbar_text {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .life_navbar_text:hover {
    background-color: #454647;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .life_navbar_text {
    transition-duration: 0.25s;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}
